html {
    background: azure;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
body {
    margin: 0 auto; 
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
}
#content {
    flex: 1;
    justify-content: center;
    padding-bottom: 0;
}
header, header * {
        display: flex;
        padding-left: 3em;
        padding-bottom: 0;    
    }

header, nav, footer {background-color: red;}

footer { 
    margin-top: auto;
    padding: 0.1em;
    padding-right: 2.5em;
    font-family: sans-serif;
    color:azure;
    text-align: right;
}

header a, nav a {color:azure; text-decoration: none;}

header a {margin: 0; border: 0; padding: 0;}

header h1 {margin-bottom: 0; flex: 2;}

nav {
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    text-decoration: none;
}

nav ul {
        list-style-type: none;
        display: inline-flex;
        size: 10em;
        margin: 0;
        margin-bottom: 0.5em;
        margin-right: 7.5em;
}

nav ul li {
        margin-right: 1em;
}

form {
    display: flex;
    font-family: sans-serif;
    background: gainsboro;
    margin: 5em;
}

form input {
    width: 0 auto;
}

#comments form {
    margin: .5em;
    padding: 1em;
}

#comments form #comment {
    width: 100%;
}

#comments {
    background: gainsboro;
    flex-grow: 1;
}

#article {
    width: 80%;
    margin: 0 auto;
}

#article * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#article h2 {
    font-size: 3em;
    margin-bottom: 0;
}

#article h3 {
    border-top: 1px solid black;
    margin: .5em;
    padding-top: .2em;
}

#article p {
    font-size: large;
    text-align: left;
}

#comments article {
    border-bottom: 1px solid black;
}